<!--
    Author : Thibault Cheneviere
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 13/03/2022
-->

{% extends 'layout.html' %}

    {% block header %}
        <!-- CSS dependencies -->
        <link rel='stylesheet' type="text/css" href="/Static/css/homePage/mainHomePage.css">
        <link rel="stylesheet" type="text/css" href="/Static/css/homePage/confettiAnimation.css">

        <!-- JQuery dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Page title -->
        <title>TOSMU</title>
    {% endblock header %}

    {% block container %}
        <div class="grid" id="grid">
            <table>
                <tr>
                    <td>{{ hiddenWord[0] }}</td>
                    {% for letter in hiddenWord[1:] %}
                        <td></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for letter in hiddenWord %}
                        <td></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for letter in hiddenWord %}
                        <td></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for letter in hiddenWord %}
                        <td></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for letter in hiddenWord %}
                        <td></td>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="/Static/Javascript/keyboardTyping.js"></script>
        <script type="text/javascript" src="/Static/Javascript/validateLetters.js"></script>
        <script type="text/javascript" src="/Static/Javascript/confetti.js"></script>
    {% endblock container %}